<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="quizo.css">
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css" >
   
    <title>QUIZO</title>
</head>
<body>
  <div class="bg-img container">
    <div class="bg-txt container">
       <center>
        <i class="fa fa-qq" aria-hidden="true"></i> 
           <h1><b>WELCOME TO THE QUIZZO WORLD</b></h1>
            <p>It's the time to test your Knowledge..</p>
           <button onclick="gotoLogin()"><b>Login</b></button>&nbsp; &nbsp;<button class="two" onclick="gotoRegister()"><b>New User?</b></button>  
        </center>       
    </div>              
      
    </div>
    
   
</body>
<script>
      function gotoLogin() {
        window.location = "/login"
      }
      function gotoRegister() {
        window.location = "/register"
      }
</script>
</html>